.head{
  background-color: green;
  height: 80px;
}
.navbar_signout {
  padding-left: 1000px;
  padding-top: 17px;
  font-size: 115%;
  font-weight: 500;
  letter-spacing: .1em;
  color: rgb(110,94,254);
  border-bottom: 5px solid transparent;
}
.navbar_signout:hover{
  text-decoration: none;
}
.navbar_signout--active {
  border-bottom: 4px solid #29b6f6;
  transition: border-bottom .5s ease-in-out;
}