
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background-color: #eceff1;
  }
  
  .navbar__link {
    margin: 1em;
    font-size: 110%;
    font-weight: 500;
    letter-spacing: .1em;
    color: #181818;
    border-bottom: 5px solid transparent;
  }
  .navbar__link:hover{
    text-decoration: none;
  }
  .offer:hover{
    text-decoration: none;
  }
  .navbar__link--active {
    border-bottom: 4px solid #29b6f6;
    transition: border-bottom .5s ease-in-out;
  }
  ul {
    list-style-type: none;
  }
  .sticky-nav {
    position: sticky;
    top: 0;
  }
  .w1{
    height: 100%;
    width: 10px;
  }
  .background{
    background-color: whitesmoke;
  }