.jumb{
    margin: 130px 350px 30px 350px;
    background: linear-gradient(90deg,rgb(110,94,254) 0%,rgba(73,63,252,1)100%);
    border-radius: 50px;
}
.buttonl{
    border-color:rgb(110,94,254) ;
    border-radius: 30px;
    width: 130px;
    color:white;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 550px;
}
.input__change:hover{
    border-radius: 30px;
    animation: mymov 10s infinite;
}
.input__change__email{
    border-radius: 30px;
    margin-left: 100px;
    margin-top: 16px;
    width: 350px;
    
}
.input__change__username{
    border-radius: 30px;
    margin-left: 100px;
    margin-top: 16px;
    width: 350px;
    
}
.input__change__password{
    border-radius: 30px;
    margin-left: 100px;
    margin-top: 16px;
    width: 350px;
    
}
.input__change__confirm{
    border-radius: 30px;
    margin-left: 100px;
    margin-top: 16px;
    width: 350px;
    
}
.textForRegister{
    color: white;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 130px;
    }


    