.signup{
    margin: 0px 650px 0px 560px;
}
.form-control {
    border-radius: 25px;
}
.form-control is-invalid{
    border-radius: 25px;
}
.sign__up{
    padding-top: 45px;
}
.signup_image{
    padding-top: 20px;
    margin-left: 110px;
}
.signup_Button {
    display: inline-block;
    margin-top: 30px;
    padding-left: 50px;
    padding-right: 50px;    
    text-align: center;
    text-decoration: none;
    outline: none;
    margin-left: 115px;
    color: rgb(12, 4, 4);
    background-color: rgb(228, 149, 238);
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}
.signup_Button:hover {    background-color: rgb(34, 121, 202);
}
.signup_Button:active {
    background-color: rgb(228, 149, 238);
    box-shadow: 0 5px rgb(188, 44, 207);
    transform: translateY(4px);
}