.signup{
    margin: 70px 620px 0px 500px;
    border-radius: 50px;
}
.input__change:hover{
    border-radius: 30px;
    animation: mymov 10s infinite;
}
.id_input{
    border-radius: 30px;
    width: 450px;
    
}
.email_input{
    border-radius: 30px;
    width: 450px;
    
}
.username_input{
    border-radius: 30px;
    width: 450px;
    
}
.password_input{
    border-radius: 30px;
    width: 450px;
    
}
.confirm_input{
    border-radius: 30px;
    width: 450px;
    
}
.contact_input{
    border-radius: 30px;
    width: 450px; 
}
.textForRegister{
    color: white;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 130px;
    }


    .buttonl{
        border-color:rgb(110,94,254) ;
        border-radius: 30px;
        width: 130px;
        color:white;
        font-family: 'Courier New', Courier, monospace;
        margin-left: 120px;
        margin-top: 20px;
    }