.signup{
    margin: 150px 150px 150px 100px;
    border-radius: 50px;
}
.input__change:hover{
    border-radius: 30px;
    animation: mymov 10s infinite;
}
.input__change__email{
    border-radius: 30px;
    margin-top: 16px;
    width: 350px;
    
}
.input__change__username{
    border-radius: 30px;
    margin-top: 16px;
    width: 350px;
    
}
.input__change__password{
    border-radius: 30px;
    margin-top: 16px;
    width: 350px;
    
}
.input__change__confirm{
    border-radius: 30px;
    margin-top: 16px;
    width: 350px;
    
}
.textForRegister{
    color: white;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 130px;
    }


    .buttonl{
        border-color:rgb(110,94,254) ;
        border-radius: 30px;
        width: 130px;
        color:white;
        font-family: 'Courier New', Courier, monospace;
        margin-left: 550px;
    }