.set{
    margin: 130px 500px 60px 500px;
    border-radius: 40px;
}
.box1{
    margin: 0px 0px 0px 85px;
}
.btn1{
    width: 200px;
}
.box2{
    margin: 0px 0px 0px 85px;
}
.btn2{
    width: 200px;
}
.box3{
    margin: 0px 0px 0px 85px;
}
.btn3{
    width: 200px;
}
.box4{
    margin: 0px 0px 0px 85px;
}
.btn4{
    width: 200px;
}
.box5{
    margin: 0px 0px 0px 85px;
}
.btn5{
    width: 200px;
}
.box6{
    margin: 0px 0px 0px 85px;
}
.btn6{
    width: 200px;
}
.btn7{
    margin-top: 20px;
    margin-left: 230px;
    width: 200px;
}